.container{
    text-align: center;
    background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color:rgb(59, 1, 1);
}
.ul,ol,dl,p {
    font-size: 1.5rem;
  }
.li, p {
    line-height: 1rem;
  }
  .butto{
    background-color: blueviolet;
    font-size: 20px;
    border-radius: 10px;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    color: rgb(95, 9, 69);
  }
