.title{
    text-align: center;
    font-size: 70px;
    font-weight: 600;
    background-color:rgb(35, 1, 1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.butto{
    background-color: rgb(174, 41, 117);
    font-size: 20px;
    border-radius: 10px;
    top: 0;
    cursor: pointer;
    height: 100%;
    border: none;
    color: rgb(95, 9, 69);
  }